/**
 * 
 * Sass to display on public pages
 *
 */
/* line 7, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.eventbasics {
  position: relative;
}
/* line 9, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.eventbasics a, .eventbasics .event-inner, .eventbasics .event {
  position: relative;
}
/* line 12, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.eventbasics .event-container {
  position: relative;
  color: white;
}
/* line 15, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.eventbasics .event-container .event-data {
  position: absolute;
  display: block;
  top: -24px;
  margin-left: 10px;
  margin-top: -10px;
}
/* line 23, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.eventbasics .event-container .event-date {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
}
/* line 30, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.eventbasics .event-container .event-title {
  position: relative;
  display: inline-block;
  padding: 0 5px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.5);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 41, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.eventbasics .event a {
  color: white;
}
/* line 43, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.eventbasics .event a:hover, .eventbasics .event a:focus {
  color: white;
}
/* line 45, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.eventbasics .event a:hover .event-title, .eventbasics .event a:focus .event-title {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

/* line 54, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.hr-btn {
  position: relative;
}
/* line 60, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.hr-btn hr {
  border-color: #333;
  margin: 25px 0;
}
/* line 65, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.hr-btn.collapsed .icon-arrow-top {
  display: none;
}
/* line 68, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.hr-btn.collapsed .icon-arrow-down {
  display: block;
}
/* line 72, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.hr-btn .icon-arrow-down, .hr-btn .icon-arrow-top {
  position: absolute;
  margin-left: -8.5px;
  left: 50%;
}
/* line 77, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.hr-btn .icon-arrow-down {
  display: none;
  top: -7px;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #333;
}
/* line 87, ../../../../../../../../vendor/dynamix/event-basic/assets/public/sass/event-basic.scss */
.hr-btn .icon-arrow-top {
  display: block;
  top: -9px;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid #333;
}
