/vendor
!/vendor/dynamix
/node_modules
Homestead.yaml
Homestead.json
.env
/app/config/assets/assets.json
/**/node_modules
/**/.sass-cache
/**/bower_components
/theme/*
!/theme/default
composer.lock
*.tmp
dynamix.sublime-project
dynamix.sublime-workspace
packages
config/core/*
config/module/*