/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
composer.lock
/app/config/assets/assets.json
/app/views/packages/dynamix
/app/config/packages/dynamix
/**/node_modules
/**/.sass-cache
/**/bower_components
/theme/*
!/theme/default
*.tmp
dynamix.sublime-project
dynamix.sublime-workspace