/vendor

/app/storage
/app/config/assets/assets.json

/app/views/packages/dynamix
/app/config/packages/dynamix

/bootstrap/compiled.php

/public/css/**
/public/js/**
/public/js/vendor/jquery.min.js
/public/js/vendor/jquery.min.map
/public/js/vendor/head.min.js

theme/*/node_modules

composer.lock

*.tmp