/*======= Custom Media Query to fix small hero-unit ========= */
/* line 2, ../sass/slideshow/_responsiveslideshow.scss */
.hero-unit {
  margin: 10px;
}

/* line 3, ../sass/slideshow/_responsiveslideshow.scss */
.slidemargin {
  margin: 10px;
}

/* line 5, ../sass/slideshow/_responsiveslideshow.scss */
.blank {
  max-height: 250px;
}

@media (max-width: 767px) {
  /* line 9, ../sass/slideshow/_responsiveslideshow.scss */
  .hero-unit {
    padding: 30px;
  }

  /* line 10, ../sass/slideshow/_responsiveslideshow.scss */
  .hero-unit h1 {
    font-size: 48px;
  }

  /* line 11, ../sass/slideshow/_responsiveslideshow.scss */
  .hero-unit {
    margin-bottom: 0px;
  }

  /* line 12, ../sass/slideshow/_responsiveslideshow.scss */
  .slidemargin {
    margin: 5px;
  }
}
/*======= Bootstrap Prettify CSS ========= */
/* line 21, ../sass/slideshow/_responsiveslideshow.scss */
.com {
  color: #93a1a1;
}

/* line 22, ../sass/slideshow/_responsiveslideshow.scss */
.lit {
  color: #195f91;
}

/* line 23, ../sass/slideshow/_responsiveslideshow.scss */
.pun, .opn, .clo {
  color: #93a1a1;
}

/* line 24, ../sass/slideshow/_responsiveslideshow.scss */
.fun {
  color: #dc322f;
}

/* line 25, ../sass/slideshow/_responsiveslideshow.scss */
.str, .atv {
  color: #D14;
}

/* line 26, ../sass/slideshow/_responsiveslideshow.scss */
.kwd, .prettyprint .tag {
  color: #1e347b;
}

/* line 27, ../sass/slideshow/_responsiveslideshow.scss */
.typ, .atn, .dec, .var {
  color: teal;
}

/* line 28, ../sass/slideshow/_responsiveslideshow.scss */
.pln {
  color: #48484c;
}

/* line 30, ../sass/slideshow/_responsiveslideshow.scss */
.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

/* line 35, ../sass/slideshow/_responsiveslideshow.scss */
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
  box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
/* line 42, ../sass/slideshow/_responsiveslideshow.scss */
ol.linenums {
  margin: 0 0 0 33px;
  /* IE indents via margin-left */
}

/* line 45, ../sass/slideshow/_responsiveslideshow.scss */
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 20px;
  text-shadow: 0 1px 0 #fff;
}

/*======= Slideshow ========= */
/* line 53, ../sass/slideshow/_responsiveslideshow.scss */
.slidecontainer {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* line 60, ../sass/slideshow/_responsiveslideshow.scss */
.fullwidth {
  width: 100%;
}

/* line 29, ../sass/core.scss */
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* line 34, ../sass/core.scss */
header {
  background: url(../../img/sources/background-cms.png) no-repeat center center #00a99d;
  color: white;
}
/* line 38, ../sass/core.scss */
header figure {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 300px;
  vertical-align: middle;
}

/* line 49, ../sass/core.scss */
.container.main {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 54, ../sass/core.scss */
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: #e5e5e5;
}

/*========== Mobile First Method ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/*========== Non-Mobile First Method ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
