@import "compass";

@import "common/sprites";
@import "common/helper";

@import "comment/comment";

//Custom style

//Bootstrap +
/* .nav-tabs {
	margin-bottom:15px;
} */
.tab-content {
	padding-top:10px;
}
.img-circle {
	border-radius: 50%;
}

$navbar-blue-bg : #0f93bc;
$navbar-blue-border : #12b9ee;
$navbar-blue-link-color : white;
$navbar-blue-link-hover-color : #f5f5f5;
$navbar-blue-link-hover-bg : #0c7393;
$navbar-blue-link-active-color : #eee;
$navbar-blue-link-active-bg : #12b9ee;
$navbar-blue-link-disabled-color : grey;
$navbar-blue-link-disabled-bg : none;

.navbar-blue {
	@include border-radius(0px);
	background-color: $navbar-blue-bg;
	border-color: $navbar-blue-border;

	.nav {
		> li > a {
			color: $navbar-blue-link-color;
			&:hover, &:focus {
				color: $navbar-blue-link-hover-color;
				background-color: $navbar-blue-link-hover-bg;
			}
		}
		> .active > a {
	  		&, &:hover, &:focus {
	    	color: $navbar-blue-link-active-color;
	   		background-color: $navbar-blue-link-active-bg;
		  	}
		}
		> .disabled > a {
		  	&, &:hover, &:focus {
		    	color: $navbar-blue-link-disabled-color;
		    	background-color: $navbar-blue-link-disabled-bg;
		  	}
		}
	}

	// Dropdowns
	.navbar-nav {
	> .open > a {
	  &,
	  &:hover,
	  &:focus {
	    background-color: $navbar-blue-link-active-bg;
	    color: $navbar-blue-link-active-color;
	  }
	}
	}
}


//Fix bootstrap nav hover
//@media only screen and (min-width : 768px) {
//    /* Make Navigation Toggle on Desktop Hover */
//    .dropdown:hover .dropdown-menu {
//        display: block;
//    }
//}

//button (form)
.button-transparent{
	background:transparent;
	border:none;
	height:auto;
	width:auto;
	padding:0;
	display:block;
	position:relative;
	&:focus {
		outline:0;
	}
}


//Helper
.inline-block {
	display:inline-block !important;
}
.w100 {
	width: 100%;
}
.padding-0 {
	padding:0 !important;
}

//Explore btn
.btn-explore {
	color:#fff;
	background-color:#428bca;
	border-color:#357ebd;
	
	&:hover, &:focus {
		color:#fff;
		text-decoration:none;
		background-color:#3276b1;border-color:#285e8e
	}
}


//Custom stylesheet
//General Design
html, body {
	height: 100%;
	overflow: auto;
	position:relative;
}
body{
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

header, section, footer {
	position:relative;
}

header{
	background: #333;
	color:white;

	figure{
		display:block;
		position:relative;
		height:100%;
		width:100%;
		text-align:center;
		line-height:300px;
		vertical-align:middle;
	}
}

.container.main{
	padding-top:10px;
	padding-bottom:10px;
}

footer{
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
}

//Video, relative or fixed
.background-video {
	position: absolute;
	min-width: 100%; 
	min-height: 100%;
	width: 100%; 
	height: auto;
	top:0;
	margin-left: -50%;
	background: black;
	background-size: cover;
	z-index: 0;
	&.background-video-fixed {
		position: fixed;

	}
}
.background-video ~ * {
	z-index:1;
	position: relative;
}


//onepage specific
#onepage  {	
	.navbar {
		margin-bottom:0;
	}
	.navbar-inverse{
		@include border-radius(0px);
	}
}



/*========== Mobile First Method ==========*/ 
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

} 
/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

} 
/* Small Devices, Tablets */ 
@media only screen and (min-width : 768px) {

} 
/* Medium Devices, Desktops */ 
@media only screen and (min-width : 992px) {

} 
/* Large Devices, Wide Screens */ 
@media only screen and (min-width : 1200px) {

} 
/*========== Non-Mobile First Method ==========*/ /* Large Devices, Wide Screens */ 
@media only screen and (max-width : 1200px) {

} 
/* Medium Devices, Desktops */ 
@media only screen and (max-width : 992px) {

} 
/* Small Devices, Tablets */ 
@media only screen and (max-width : 768px) {

} 
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

} 
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {


}