/**
 * 
 * Sass to display on admin pages
 *
 */
/* line 7, ../../../../../../../../vendor/dynamix/mosaic-gallery/assets/admin/sass/mosaic-gallery-admin.scss */
.cbp-fwaddbefore, .cbp-fwaddafter {
  margin: 0 20px;
}

/* line 11, ../../../../../../../../vendor/dynamix/mosaic-gallery/assets/admin/sass/mosaic-gallery-admin.scss */
#gallery-btn-dot-before, #gallery-btn-dot-after {
  display: inline-block;
}

/* line 15, ../../../../../../../../vendor/dynamix/mosaic-gallery/assets/admin/sass/mosaic-gallery-admin.scss */
.table-btn {
  display: inline-block !important;
  height: 72px;
}
