@import "compass";

.comment{
	
}

//Header of comment system
.comment-head{
	margin-bottom:10px;
	font-size:16px;
}

//Form for comment
.comment-form {
	margin-bottom:10px;
}
	//Input of form
	.input-comment-form {
		overflow:hidden;
		input{
			width:100%;
			height: 48px;
			border:2px solid #ddd;
			@include border-radius(3px 3px 0 0);
			font-size:18px;
			padding: 2px 6px;
			&:focus {
				outline: none;
				//font-size:12px;
				border:2px solid #ddd;
				@include border-radius(3px 3px 0 0);
			}
		}
	}

	button.submit-comment-form {
		height:0px;
		padding: 0 6px;
		border:none;
	}

	.input-comment-form input:focus + .submit-comment-form, 
	.submit-comment-form:focus {
		height:auto;
		padding: 6px 12px;
		border:2px solid #ddd;
		border-top:none;
	}

	.btn-comment-form {
		@include border-radius(0 0 4px 4px);
		border:2px solid #ddd;
		border-top:none;
		background:white;
		color:grey;
		&:focus{			
			border:2px solid #ddd;
			border-top:none;
			outline: none;
		}
	}

//Avatar
.img-comment{
	float:left;
	margin-right:10px;
	img{
		display: block;
		width: 48px;
		height: 48px;
	}
}

//Comment of users
.comment-user{
	margin: 15px 0;
}
	.comment-user-inner{
		overflow: hidden;
	}
		//Header of comment user
		.comment-user-header{
			color:#bbb;
			font-size:85%;
		}
		//Body of comment user
		.comment-user-body{
			p {
				margin:0
			}
		}
		//Footer of comment user
		.comment-user-footer{
			color:#bbb;
			font-size:85%;
			a {
				color:#bbb;
				&:hover, &:focus{
					color:#bbb;
					text-decoration: none;
				}
			}
		}


//Relpy of a comment user
.comment-reply{
	margin-left:48px;
	padding:0;
	list-style:none;
	margin-top:20px;
	li.comment-user{
		margin:0;
	}
}
	//Smallest avatar for replied comment
	.img-comment-reply{
		float:left;
		margin-right:10px;
		img{
			display: block;
			width: 36px;
			height: 36px;
		}
	}
	//Set overflow none for comment replied
	.comment-reply-inner{
		overflow:hidden;
	}


//Action Modifier
.author-remove{
	display:none;
	a {
		color:#bbb;
		&:hover, &:focus{
			color:#bbb;
			text-decoration: none;
		}
	}
}
.comment-reply-inner, .comment-user-inner {
	&:hover, &:focus {
		.author-remove{
			display:inline;
		}
	}
}

//Modifier p.alert
#comment-form p.alert {
	padding: 5px;
	border-width: 2px;
	border-top:none;
	@include border-radius(0 0 4px 4px);
}


//Helper
.display-inline-block {
	display:inline-block;
}

.color-blue {
	color:lighten(#31708f,20%);
}
.color-red {
	color:lighten(#a94442,20%);
}